

<div class="blog-widget">
    <h4 class="sidebar-title">Ara</h4>
    <div class="sidebar-search">
        <form action="#">
            <input type="text" placeholder="Ara ...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
</div>