
<section class="service-area">
    <div class="container">
        <div class="row align-items-end mb-50">
            <div class="col-md-8">
                <div class="section-title">
                    <span class="sub-title">Why Air geair</span>
                    <h2 class="title">Our Great Flight Options</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-nav"></div>
            </div>
        </div>
        <div class="row service-active">
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="~/geair/assets/img/icon/service_icon01.png" alt="">
                    </div>
                    <div class="service-content">
                        <span>Service 01</span>
                        <h2 class="title">Pre-Book Your Baggage</h2>
                        <div class="service-list">
                            <ul>
                                <li>Pre-book your baggage <i class="flaticon-check-mark"></i></li>
                                <li>Allowance now and save up <i class="flaticon-check-mark"></i></li>
                                <li>90% of baggage charges <i class="flaticon-check-mark"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="~/geair/assets/img/icon/service_icon02.png" alt="">
                    </div>
                    <div class="service-content">
                        <span>Service 02</span>
                        <h2 class="title">Reserve preferred seat!</h2>
                        <div class="service-list">
                            <ul>
                                <li>What will it be, window or aisle? <i class="flaticon-check-mark"></i></li>
                                <li>Select your preferred seat prior <i class="flaticon-check-mark"></i></li>
                                <li>Reserved for you. <i class="flaticon-check-mark"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="~/geair/assets/img/icon/service_icon03.png" alt="">
                    </div>
                    <div class="service-content">
                        <span>Service 03</span>
                        <h2 class="title">Enjoy stress-free travel</h2>
                        <div class="service-list">
                            <ul>
                                <li>Travel stress-free by getting<i class="flaticon-check-mark"></i></li>
                                <li>Covered for flight modification <i class="flaticon-check-mark"></i></li>
                                <li>Cancellation, accident & medical <i class="flaticon-check-mark"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="~/geair/assets/img/icon/service_icon02.png" alt="">
                    </div>
                    <div class="service-content">
                        <span>Service 02</span>
                        <h2 class="title">Reserve preferred seat!</h2>
                        <div class="service-list">
                            <ul>
                                <li>What will it be, window or aisle? <i class="flaticon-check-mark"></i></li>
                                <li>Select your preferred seat prior <i class="flaticon-check-mark"></i></li>
                                <li>Reserved for you. <i class="flaticon-check-mark"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>