@model CreateAskedQuestionDto
@{
    ViewData["Title"] = "CreateAskedQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Sss Girişi</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label>Sıra Numarası</label>
                <input type="number" name="RowNumber" class="form-control" placeholder="Sıra Numarası">
                <span asp-validation-for="RowNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Başlık</label>
                <input type="text" name="Title" class="form-control" placeholder="Başlık">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <input type="text" name="Description" class="form-control" placeholder="Açıklama">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>