@model List<ResultBrandDto>
<div class="brand-area brand-bg">
    <div class="container">
        <div class="row brand-active">
            @foreach (var item in Model)
            {
                <div class="col-12">
                    <div class="brand-item">
                        <img src="@item.Logo" style="width:180px; height:60px;" alt="">
                    </div>
                </div>
            }
        </div>
    </div>
</div>