
<div class="brand-area brand-bg">
    <div class="container">
        <div class="row brand-active">
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img01.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img02.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img03.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img04.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img05.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img06.png" alt="">
                </div>
            </div>
            <div class="col-12">
                <div class="brand-item">
                    <img src="~/geair/assets/img/brand/brand_img03.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>