@model List<ResultDestinationDto>

@foreach (var item in Model)
{
    <section class="destination-area destination-bg" style="background-image: url(@item.ImageUrl);">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <span class="sub-title">En iyi teklifler</span>
                        <h2 class="title">@item.Title</h2>
                    </div>
                    <div class="destination-content">
                        <p>@item.Description</p>
                        <ul>
                            <li>
                                <div class="counter-item">
                                    <div class="counter-content">
                                        <h2 class="count"><span class="odometer" data-count="5830"></span>+</h2>
                                        <p>Mutlu Müşteriler</p>
                                    </div>
                                    <div class="counter-icon">
                                        <i class="flaticon-group"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="counter-item">
                                    <div class="counter-content">
                                        <h2 class="count"><span class="odometer" data-count="100"></span>%</h2>
                                        <p>Müşteri Memnuniyeti</p>
                                    </div>
                                    <div class="counter-icon">
                                        <i class="flaticon-globe"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="content-bottom">
                            <p>En son avantajları takip edin ve fırsatlardan hemen yararlanın</p>
                            <a href="contact.html">İletişime Geç</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
} 