@model List<ResultBannerDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Banner Slider Listesi</h3><br />
        <small>Tema bütünlüğü için 3 veri girişi yapınız.</small>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Başlık</th>
                    <th>Görsel Link</th>
                    <th>Açıklama</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Title</td>
                        <td>@item.ImageUrl</td>
                        <td>@item.Description</td>
                        <td><a href="#" class="btn btn-danger">Sil</a></td>
                        <td><a href="#" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="/Admin/Banners/CreateBanner" class="btn btn-primary">Yeni Slider Ekle</a>
    </div>
</div>