
<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <div class="logo"><a href="/Default/Index"><img src="~/geair/assets/img/logo/logo.png" alt=""></a></div>
                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">
                                <li class=""><a href="/Default/Index">Ana Sayfa</a></li>
                                <li><a href="/About/Index">Hakkımızda</a></li>
                                <li class="menu-item-has-children">
                                    <a href="/Flights/Index">Bilet Al</a>
                                  @*   <ul class="submenu">
                                        <li><a href="booking-list.html">Booking List</a></li>
                                        <li><a href="booking-details.html">Booking Details</a></li>
                                    </ul> *@
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/Blog/Index">Blog</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/Travel/Index">Turlar</a>
                                </li>
                                <li><a href="/Contact/Index">İletişim</a></li>
                               
                            </ul>
                        </div>
                        @if (User.Claims.Count() <=0)
                        {
                            <div class="header-action d-none d-md-block">
                                <ul>

                                    <li class="header-btn"><a href="/Login/SignUp" class="btn">Kayıt Ol</a></li>
                                    <li class="header-btn sign-in"><a href="/Login/SignIn" class="btn">Giriş Yap</a></li>
                                </ul>
                            </div>
                        }else{
                            <div class="header-action d-none d-md-block">
                                <ul>

                                    <li class="header-btn"><a href="/Login/SignUp" class="btn">Profile Git</a></li>
                                    <li class="header-btn sign-in"><a href="/Login/SignOut" class="btn">Çıkış Yap</a></li>
                                </ul>
                            </div>
                        }
                        
                    </nav>
                </div>
                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fa-solid fa-xmark"></i></div>
                        <div class="nav-logo">
                            <a href="index.html"><img src="~/geair/assets/img/logo/logo_02.png" alt="" title=""></a>
                        </div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->
            </div>
        </div>
    </div>
</div>