
<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <div class="logo"><a href="index.html"><img src="~/geair/assets/img/logo/logo.png" alt=""></a></div>
                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="booking-list.html">Booking List</a></li>
                                        <li><a href="booking-details.html">Booking Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">Our Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="header-action d-none d-md-block">
                            <ul>
                                <li class="country"><a href="#">usd <img src="~/geair/assets/img/icon/united-states.png" alt=""></a></li>
                                <li class="question"><a href="contact.html">?</a></li>
                                <li class="header-btn"><a href="contact.html" class="btn">Register</a></li>
                                <li class="header-btn sign-in"><a href="contact.html" class="btn">Sign In</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fa-solid fa-xmark"></i></div>
                        <div class="nav-logo">
                            <a href="index.html"><img src="~/geair/assets/img/logo/logo_02.png" alt="" title=""></a>
                        </div>
                        <div class="menu-outer">
                            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->
            </div>
        </div>
    </div>
</div>