
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-0 order-lg-2">
                <div class="about-img">
                    <img src="~/geair/assets/img/images/about_img01.jpg" alt="img">
                    <img src="~/geair/assets/img/images/about_img02.jpg" alt="img" class="img-two">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">who we are</span>
                        <h2 class="title">Magical Singapore now even more amazing!</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitIn interdum imperdiet ipsum. denounce with rieous indiation and dislike men who beguiled demor.</p>
                    <ul>
                        <li><i class="flaticon-tick-1"></i>Pre-Book Your Baggage Donating</li>
                        <li><i class="flaticon-tick-1"></i>Accusamus Iusto Odio Dignissimos Ducimus</li>
                        <li><i class="flaticon-tick-1"></i>Dislike Men Who are so Beguiled</li>
                    </ul>
                    <a href="contact.html" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>