


<div class="blog-widget sidebar-newsletter">
    <div class="sn-icon">
        <img src="assets/img/icon/sn_icon.png" alt="">
    </div>
    <div class="sn-title">
        <h4 class="title">Haftalık Bültene Üye Ol !</h4>
        <p>Kampanyalar için Üye Ol</p>
    </div>
    <form action="#" class="sn-form">
        <input type="email" placeholder="Mail adresinizi girin">
        <button class="btn">Üye Ol</button>
    </form>
</div>