@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Kategori Girişi</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label>Kategori Adı</label>
                <input type="text" name="CategoryName" class="form-control" placeholder="Kategori Adı">
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>