@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"> Kategori Güncelle</h3>
    </div>
    <form method="post">
        <input type="hidden" asp-for="@Model.CategoryId" />
        <div class="card-body">
            <div class="form-group">
                <label>Marka Adı</label>
                <input type="text" asp-for="@Model.CategoryName" class="form-control" placeholder="Kategori Adı">
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-warning">Güncelle</button>
        </div>
    </form>
</div>