@model UpdateRoleDto
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"> Rol Güncelle</h3>
    </div>
    <form method="post">
        <input type="hidden" asp-for="@Model.RoleId" />
        <div class="card-body">
            <div class="form-group">
                <label>Rol Adı</label>
                <input type="text" asp-for="@Model.RoleName" class="form-control" placeholder="Rol Adı">
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-warning">Güncelle</button>
        </div>
    </form>
</div>