@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Marka Girişi</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label>Marka Adı</label>
                <input type="text" name="BrandName" class="form-control" placeholder="Marka Adı">
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Marka Adı</label>
                <input type="text" name="Logo" class="form-control" placeholder="Marka Logo Link">
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>