
<header>
    <div class="header-top">
        <div class="container custom-container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="header-top-left">
                        <a href="#"><i class="fa-solid fa-plane"></i> COVID-19 update & travel requirements</a>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="header-top-right">
                        <ul>
                            <li><a href="contact.html">Corporate Club</a></li>
                            <li><a href="contact.html">Miles&Smiles</a></li>
                            <li><a href="about.html"><i class="fa-solid fa-comments"></i>Feedback</a></li>
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Search</a></li>
                            <li><a href="contact.html"><i class="fa-solid fa-dollar-sign"></i>Currency</a></li>
                            <li><a href="booking-list.html"><i class="fa-solid fa-earth-asia"></i>EN - INT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_UILayoutNavbarComponent")
</header>