
<header>
    <div class="header-top">
        <div class="container custom-container">
            <div class="row">
                <div class="col-xl-4">
                    <div class="header-top-left">
                        <a href="#"><i class="fa-solid fa-plane"></i> COVID-19 güncellemesi ve seyahat gereksinimleri</a>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="header-top-right">
                        <ul>
                            <li><a href="#">Kurumsal Club</a></li>
                            <li><a href="#">Miles&Smiles</a></li>
                            <li><a href="#"><i class="fa-solid fa-comments"></i>Geri Bildirim</a></li>
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Arama</a></li>
                            <li><a href="#"><i class="fa-solid fa-dollar-sign"></i>Para Birimi</a></li>
                            <li><a href="#"><i class="fa-solid fa-earth-asia"></i>EN - INT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_UILayoutNavbarComponent")
</header>