@model UpdateAircraftSeatsDto
@{
    ViewData["Title"] = "UpdateSeat";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Koltuk Bilgilerini Güncelle</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <input type="hidden" asp-for="SeatId">
            <input type="hidden" asp-for="AircraftId">
            <div class="form-group">
                <label for="SeatNumber">Numara</label>
                <input type="text" asp-for="SeatNumber" class="form-control" placeholder="Model">
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SeatClass">Sınıf</label>
                <input type="text" asp-for="SeatClass" class="form-control" placeholder="Kapasite">
                <span asp-validation-for="SeatClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IsAvailable">Durum</label>
                <select asp-for="IsAvailable" class="form-control">
                    <option value="True">Dolu</option>
                    <option value="False">Boş</option>
                </select>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>