@model CreateAirportDto
@{
    ViewData["Title"] = "CreateAirport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Havaalanı Bilgileri Ekle</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="AirportTitle">Başlık</label>
                <input type="text" name="AirportTitle" class="form-control" placeholder="Başlık">
                <span asp-validation-for="AirportTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>

