
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Geair</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/geair/assets/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/geair/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/geair/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/geair/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/geair/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/geair/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/geair/assets/css/odometer.css">
    <link rel="stylesheet" href="~/geair/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/geair/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/geair/assets/css/slick.css">
    <link rel="stylesheet" href="~/geair/assets/css/default.css">
    <link rel="stylesheet" href="~/geair/assets/css/style.css">
    <link rel="stylesheet" href="~/geair/assets/css/responsive.css">
</head>