<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponent")
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
        @await Component.InvokeAsync("_AdminLayoutNavbarComponent")
        @await Component.InvokeAsync("_AdminLayoutSideBarComponent")
  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid p-3">
        @RenderBody()
      </div>
    </section>
  </div>
        @await Component.InvokeAsync("_AdminLayoutFooterComponent")
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
    @await Component.InvokeAsync("_AdminLayoutScriptsComponent")
</body>
</html>
