<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_AdminLayoutHeadComponent")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_AdminLayoutSideBarComponent")
		<div class="main">
			@await Component.InvokeAsync("_AdminLayoutNavbarComponent")
			<main class="content">
				<div class="container-fluid p-0">
					<h1 class="h3 mb-3">@ViewData["MainTitle"]</h1>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									@RenderBody()
								</div>
								<div class="card-body">
								</div>
							</div>
						</div>
					</div>

				</div>
			</main>
			@await Component.InvokeAsync("_AdminLayoutFooterComponent")
		</div>
	</div>
	@await Component.InvokeAsync("_AdminLayoutScriptsComponent")
</body>
</html>