

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" href="index.html">
			<span class="align-middle">Geair Admin Panel</span>
		</a>
		<ul class="sidebar-nav">
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Dashboard/Index">
					<i class="align-middle" data-feather="sunrise"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Banners/Index">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Banner Alanı</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Abouts/Index">
					<i class="align-middle" data-feather="info"></i> <span class="align-middle">Hakkımızda Alanı</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Brands/Index">
					<i class="align-middle" data-feather="git-branch"></i> <span class="align-middle">Markalar</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/CompanyAddress/Index">
					<i class="align-middle" data-feather="phone-call"></i> <span class="align-middle">İletişim Bilgileri</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/Features/Index">
					<i class="align-middle" data-feather="paperclip"></i> <span class="align-middle">Öne Çıkan Alan</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/Admin/FlightOptions/Index">
					<i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Uçuş Hizmet Alanı</span>
				</a>
			</li>
		</ul>
	</div>
</nav>