<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Geair Admin Panel</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            
            @if (!string.IsNullOrWhiteSpace(ViewBag.user.ImageUrl))
            {
                <div class="image">
                    <img src="@Url.Content(ViewBag.user.ImageUrl)" class="rounded-pill" style="height:35px;width:35px;" alt="User Image">
                </div>
            }
            else
            {
                <div class="image">
                    <img src="~/DefaultUserImage/default-image.png" class="img-circle elevation-2" style="height:40px;width:50px;" alt="User Image">
                </div>
            }
            <div class="info">
                <a href="#" class="d-block">@ViewBag.user.NameSurname</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Profil Bilgileri
                        </p>
                    </a>
                </li>
               
                <li class="nav-item">
                    <a href="/Admin/Blogs/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Bloglar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Categories/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Kategoriler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Travels/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Turlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Airports/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Havaalanları
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Flights/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Uçuşlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Biletler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Aircrafts/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Uçaklar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Banners/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Banner Slider Paneli
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Abouts/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Hakkımızda Paneli
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AskedQuestions/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Sık Sorulan Sorular
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Destinations/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Destionation Paneli
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Brands/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Markalar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            İstatistikler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/SocialMedias/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Sosyal Medya
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/CompanyAdresses/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            İletişim Bilgileri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Features/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Öne Çıkan Alan Paneli
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Newsletters/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Haftalık Bülten
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/FlightOptions/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Neden Biz
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                           Kullanıcılar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Roles/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Roller
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Layout Options
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/layout/top-nav.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Top Navigation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Top Navigation + Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/boxed.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Boxed</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Sidebar <small>+ Custom Area</small></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-topnav.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Navbar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-footer.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Footer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Collapsed Sidebar</p>
                            </a>
                        </li>
                       
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Default/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Siteye Dön
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Ayarlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>