<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Geair Admin Panel</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            
            @if (!string.IsNullOrWhiteSpace(ViewBag.user.ImageUrl))
            {
                <div class="image">
                    <img src="@Url.Content(ViewBag.user.ImageUrl)" class="rounded-pill" style="height:35px;width:35px;" alt="User Image">
                </div>
            }
            else
            {
                <div class="image">
                    <img src="~/DefaultUserImage/default-image.png" class="img-circle elevation-2" style="height:40px;width:50px;" alt="User Image">
                </div>
            }
            <div class="info">
                <a href="#" class="d-block">@ViewBag.user.NameSurname</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Default/Index" class="nav-link ">
                        <i class="nav-icon fas fa-desktop text-warning"></i>
                        <p >
                            Siteye Dön
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/Index" class="nav-link">
                        <i class="nav-icon fas fa-user-md"></i>
                        <p>
                            Profil Bilgileri
                        </p>
                    </a>
                </li>
               
                <li class="nav-item">
                    <a href="/Admin/Blogs/Index" class="nav-link">
                        <i class="nav-icon fas fa-rss"></i>
                        <p>
                            Bloglar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Categories/Index" class="nav-link">
                        <i class="nav-icon fas fa-globe "></i>
                        <p>
                            Kategoriler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Travels/Index" class="nav-link">
                        <i class="nav-icon fas fa-bed "></i>
                        <p>
                            Turlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Airports/Index" class="nav-link">
                        <i class="nav-icon fas fa-plane"></i>
                        <p>
                            Havaalanları
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Flights/Index" class="nav-link">
                        <i class="nav-icon fas fa-star text-info"></i>
                        <p>
                            Uçuşlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Tickets/Index" class="nav-link">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>
                            Biletler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Aircrafts/Index" class="nav-link">
                        <i class="nav-icon fas fa-microchip "></i>
                        <p>
                            Uçaklar
                        </p>
                    </a>
                </li>
               
              
               
             
               
               
               
                <li class="nav-item">
                    <a href="/Admin/CompanyAdresses/Index" class="nav-link">
                        <i class="nav-icon fas fa-phone "></i>
                        <p>
                            İletişim Bilgileri
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="/Admin/Newsletters/Index" class="nav-link">
                        <i class="nav-icon fas fa-subscript"></i>
                        <p>
                            Haftalık Bülten
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                           Kullanıcılar
                        </p>
                    </a>
                </li>
               
                
                <li class="nav-item">
                    <a href="/Admin/Profile/Index" class="nav-link">
                        <i class="nav-icon fas fa-cog "></i>
                        <p>
                            Ayarlar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Ana Sayfa Ayarları
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Admin/Banners/Index" class="nav-link">
                                <i class="nav-icon fas fa-snowflake"></i>
                                <p>
                                    Banner Slider Paneli
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Abouts/Index" class="nav-link">
                                <i class="nav-icon fas fa-info"></i>
                                <p>
                                    Hakkımızda Paneli
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/AskedQuestions/Index" class="nav-link">
                                <i class="nav-icon fas fa-question-circle"></i>
                                <p>
                                    Sık Sorulan Sorular
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/Admin/Destinations/Index" class="nav-link">
                                <i class="nav-icon fas fa-columns "></i>
                                <p>
                                    Destionation Paneli
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Brands/Index" class="nav-link">
                                <i class="nav-icon fas fa-anchor "></i>
                                <p>
                                    Markalar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Statistic/Index" class="nav-link">
                                <i class="nav-icon fas fa-chart-line"></i>
                                <p>
                                    İstatistikler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/SocialMedias/Index" class="nav-link">
                                <i class="nav-icon fas fa-share-square"></i>
                                <p>
                                    Sosyal Medya
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Features/Index" class="nav-link">
                                <i class="nav-icon fas fa-bolt "></i>
                                <p>
                                    Öne Çıkan Alan Paneli
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/FlightOptions/Index" class="nav-link">
                                <i class="nav-icon fas fa-question "></i>
                                <p>
                                    Neden Biz
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Roles/Index" class="nav-link">
                                <i class="nav-icon fas fa-user-secret "></i>
                                <p>
                                    Roller
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-times  text-danger"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>