<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Geair Admin Panel</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE-3.1.0/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Admin/Dashboard/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Banners/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Banner Slider Alanı
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Abouts/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Hakkımızda Alanı
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Brands/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Markalar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/SocialMedias/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Sosyal Medya
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/CompanyAdresses/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            İletişim Bilgileri
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Features/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Öne Çıkan Alan
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/FlightOptions/Index" class="nav-link">
                        <i class="nav-icon fas fa-blender"></i>
                        <p>
                            Neden Biz
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Layout Options
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/layout/top-nav.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Top Navigation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Top Navigation + Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/boxed.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Boxed</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-sidebar-custom.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Sidebar <small>+ Custom Area</small></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-topnav.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Navbar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/fixed-footer.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Footer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Collapsed Sidebar</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>