@model CreateBlogDto
@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Blog Oluştur</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Başlık</label>
                <input type="text" name="Title" id="title" class="form-control" placeholder="Başlık">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Blog Resim Url</label>
                <input type="text" name="CoverImageUrl" id="coverimageurl" class="form-control" placeholder="Blog Resim Url">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Açıklama</label>
                <textarea class="form-control" placeholder="Açıklama" id="description" name="Description"> </textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Bilgilendirme</label>
                <textarea class="form-control" placeholder="Bilgilendirme" id="info" name="Info"> </textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">1. Resim Link</label>
                <input type="text" name="ImageUrl1" id="image1" class="form-control" placeholder="1. Resim Link">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">2. Resim Link</label>
                <input type="text" name="ImageUrl2" id="image2" class="form-control" placeholder="2. Resim Link">
            </div>
        </div>
        <div class="card-footer">
            <button type="button" id="saveBlog" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>

<script>

    document.querySelector("#saveBlog").addEventListener("click", function () {
        let title = $("#title").val();
        let coverimage = $("#coverimageurl").val();
        let description = $("#description").val();
        let info = $("#info").val();
        let image1 = $("#image1").val();
        let image2 = $("#image2").val();
        console.log(title);
        console.log(coverimage);
        let values = {
            Title: title,
            CoverImageUrl: coverimage,
            Description:description,
            Info:info,
            ImageUrl1:image1,
            ImageUrl2:image2
        };
        console.log(values);
        $.ajax({
            type: "post",
            url: "/Admin/Blogs/CreateBlogAjax",
            data: values,
            success: function (func) {
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Blog başarılı bir şekilde kayıt edildi.",
                    showConfirmButton: false,
                    timer: 1500
                });
                setTimeout(() => {
                    window.location.href = "/Admin/Blogs/Index";
                },2000);
                
            }

        });
    });

</script>