@model CreateBlogDto
@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Blog Oluştur</h3>
    </div>
    <form id="blogForm">
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Başlık</label>
                <input type="text" name="Title" id="title" class="form-control" placeholder="Başlık">
                
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Blog Resim Url</label>
                <input type="text" name="CoverImageUrl" id="coverimageurl" class="form-control" placeholder="Blog Resim Url">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Kategori</label>
                <select name="CategoryId" id="categoryId" class="form-control">
                    <option disabled selected>Seçiniz</option>
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Açıklama</label>
                <div id="editor" style="height: 300px;"></div>
                <input type="hidden" id="description" name="Description">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Bilgilendirme</label>
                <textarea class="form-control" placeholder="Bilgilendirme" id="info" name="Info"> </textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">1. Resim Link</label>
                <input type="text" name="ImageUrl1" id="image1" class="form-control" placeholder="1. Resim Link">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">2. Resim Link</label>
                <input type="text" name="ImageUrl2" id="image2" class="form-control" placeholder="2. Resim Link">
            </div>
            <span id="errorMessages" class="text-danger"></span>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


<script>

    $(document).ready(function () {

        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['blockquote', 'code-block'],
                    [{ color: [] }],
                    [{ list: 'ordered' }, { list: 'bullet' }],
                    ['link', 'image', 'video'],
                    ['clean']
                ],
            },
        });
        quill.on('text-change', function () {
            document.getElementById('description').value = quill.root.innerHTML;
        });


        $('#blogForm').on('submit', function (event) {
            event.preventDefault();

            var title = $('#title').val();
            var coverimageurl = $('#coverimageurl').val();
            var description = $('#description').val();
            var categoryId = $('#categoryId').val();
            var info = $('#info').val();
            var image1 = $('#image1').val();
            var image2 = $('#image2').val();
            var values = {
                Title:title,
                CoverImageUrl:coverimageurl,
                Description:description,
                CategoryId:categoryId,
                Info:info,
                ImageUrl1:image1,
                ImageUrl2:image2
            };
            console.log(values);
            $('#errorMessages').empty();
            $.ajax({
                url: '/Admin/Blogs/CreateBlog',
                method: 'POST',
                data: values,
                success: function (response) {
                    alert("Başarılı");
                    window.location.href = "/Admin/Blogs/Index";
                },
                error: function (response) {
                    var errors = response.responseJSON.errors;
                    var errorMessages = '';
                    errors.forEach(function (error) {
                        errorMessages += '<p>' + error + '</p>';
                    });
                    $('#errorMessages').html(errorMessages);
                    console.log(errorMessages);
                }
            });
        });
    });
</script>
