
<section class="fly-next-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Flynext Package</span>
                    <h2 class="title">Your Great Destination</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="fly-next-nav">
                    <button class="active" data-filter="*">Flights <i class="flaticon-flight"></i></button>
                    <button class="" data-filter=".cat-one">Car Rentals <i class="flaticon-car-1"></i></button>
                    <button class="" data-filter=".cat-two">Taxis <i class="flaticon-taxi"></i></button>
                </div>
            </div>
        </div>
        <div class="row fly-next-active justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img01.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Dubai (DXB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Economy from</p>
                            <h4 class="price">$195</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img02.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Switzerland (SWL)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">$800</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img03.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Denmark (DEK)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Economy from</p>
                            <h4 class="price">$ 350</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img04.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Jakarta (DXB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">$ 220</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img05.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Dubai (DXB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Economy from</p>
                            <h4 class="price">$195</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img06.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Dubai (DXB)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">$175</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two cat-one">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img07.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Switzerland (SWL)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Economy from</p>
                            <h4 class="price">$195</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-two">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="~/geair/assets/img/images/fly_img08.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>09 Jun 2022 - 16 Jun 2022</span>
                        <h4 class="title">Turkish (SWL)</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">New York (USA)</h4>
                        <a href="booking-details.html" class="air-logo"><img src="~/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Business Class</p>
                            <h4 class="price">$350</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>