<section class="blog-area blog-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">our News Feeds</span>
                    <h2 class="title">Latest News Update</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-53">
                <div class="blog-item">
                    <div class="blog-thumb">
                        <a href="blog-details.html"><img src="~/geair/assets/img/blog/blog_img01.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa-regular fa-user"></i> <a href="#">Emely Watson</a></li>
                                <li><i class="fa-solid fa-calendar-days"></i> February 19, 2022</li>
                            </ul>
                        </div>
                        <h2 class="title"><a href="blog-details.html">Depending on your departure point and destination flights</a></h2>
                    </div>
                </div>
            </div>
            <div class="col-47">
                <div class="blog-item small-item">
                    <div class="blog-thumb">
                        <a href="blog-details.html"><img src="~/geair/assets/img/blog/blog_img02.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa-regular fa-user"></i> <a href="#">Emely Watson</a></li>
                                <li><i class="fa-solid fa-calendar-days"></i> February 19, 2022</li>
                            </ul>
                        </div>
                        <h2 class="title"><a href="blog-details.html">Happy International Country Flight Attendant Day</a></h2>
                    </div>
                </div>
                <div class="blog-item small-item">
                    <div class="blog-thumb">
                        <a href="blog-details.html"><img src="~/geair/assets/img/blog/blog_img03.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa-regular fa-user"></i> <a href="#">Emely Watson</a></li>
                                <li><i class="fa-solid fa-calendar-days"></i> February 19, 2022</li>
                            </ul>
                        </div>
                        <h2 class="title"><a href="blog-details.html">The US is a Large Country and Climate Varies by Region</a></h2>
                    </div>
                </div>
                <div class="blog-item small-item">
                    <div class="blog-thumb">
                        <a href="blog-details.html"><img src="~/geair/assets/img/blog/blog_img04.jpg" alt=""></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul>
                                <li><i class="fa-regular fa-user"></i> <a href="#">Emely Watson</a></li>
                                <li><i class="fa-solid fa-calendar-days"></i> February 19, 2022</li>
                            </ul>
                        </div>
                        <h2 class="title"><a href="blog-details.html">But There are Dozen of Low-cost Airlines Including</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>