@model List<ResultFeatureDto>
<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-6 col-sm-10">
                    <div class="features-item">
                        <div class="features-icon">
                            <i class="@item.Icon"></i>
                        </div>
                        <div class="features-content">
                            <h6 class="title">@item.Title</h6>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
    </div>
</section>